<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        .contain{
            color: orangered;
            font-style: italic;
        }
        .cont{
            color: green;
            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="contain">
        <h2>" Yeah! You Successfully Login, Without Database &#128515; "</h2>
        
    </div>
    <h3 class="cont">Start Your Journey With GFG  &#128591;</h3>
    
</body>
</html>